.Articles {
    text-align: center;
    border: 1px solid black;
    padding: 20px;
  }
  
  .Articles img {
    display: inline;height: 50px;
    width: 50px;
    margin: 0 auto;
    align-self: center;
  }
  
  .Articles2,.Articles3 {
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .Articles2 img,.Articles3 img {
    display: inline;
    margin: 0 auto;
    align-self: center;
  }
  
  button {
    margin: 20px auto;
    display: block;
  }
  .Articles a{
    text-decoration: none;
    /* background-color: rgb(68, 219, 68); */
  color: black;
  /* display: flex; */
  
  }